$yellow: #eceaae;
$red: #e85613;
$green: #138496;

@mixin margenes($top, $bottom){
    margin-top:$top;
    margin-bottom:$bottom;
}

.jumbotron{
    background-color: $yellow;
    color:white;
    @include margenes(50px,2rem) 
}

footer{
    padding: 10px 10px 0 10px;
    background-color: #343a40;
    color:white;
    @include margenes(10px,0px) 
}

.card-hotel{
    flex: 1 200px;
    /*padding: 2px 0px 2px 0px;*/
    @include margenes(10px,0px) 
}

.btn-reserva{
    width:100%;
    border-radius: 0px;
    /*position:absolute;*/
    left:0;
    bottom:0;
}

.footer-address-icon{
    padding-right: 10px;
}

footer a{
    color:white;
}